<%= render 'top_nav'%>
<div class="main-body">
	<p id="search-result">Search Result</p>
	<div class="products">
	        <div class="container" id="mrow">
	          <% @var.each_slice(4) do |var|%>
	            <div class="row">
	              <% var.each do |v|%>
	                <%if v.quantity > 0 %>
	                  <div class="col-md-3" id="display">                      
	                      <div>
	                          <%product=Product.find_by id: v.product_id %>                         
	                          <%=link_to image_tag(v.product_image,:style=>"height:250px; width:180px;margin-top:80px"),user_path(product)%><br>
	                          <%= label :brand_name,"#{v.brand_name}`s #{product.category}" %><br>
	                          <%= label :price, "Rs #{v.price}/-"%><br>
	                      </div>                  
	                  </div>
	                <%end%>                
	              <%end%>
	            </div>           
	          <%end%>
	        </div>
	</div>
	<div class="search-products">
	        <div class="container" id="mrow">
	          <% @pro.each_slice(4) do |pros|%>
	            <div class="row">
	              <% pros.each do |p|%>
	               <% Variant.all.each do |variant|%>
	               	<% sproduct=Product.find_by id: variant.product_id%>
	               	 <%if sproduct.category==p.category%>
	               	 	<div class="col-md-3" id="display">              
	                          <%product=Product.find_by id: variant.product_id %>                        
	                          <%=link_to image_tag(variant.product_image,:style=>"height:250px; width:180px;margin-top:10px"),user_path(product)%><br>
	                          <%= label :brand_name,"#{variant.brand_name}`s #{product.category}" %><br>
	                          <%= label :price, "#{variant.price}/-"%><br>                
	                  </div>
	               	 <%end%>
	               <%end%>      
	              <%end%>                
	            </div>           
	          <%end%>
	        </div>
	</div>

</div>