<!DOCTYPE html>
<html>
<head>
	<title>Show</title>
</head>
<body>
	<%= render 'top_nav'%>
	<div id="product-display">
		<% Variant.all.each do |v|%>
			<%if v.product_id == @product.id.to_i%>				
				<div id="product-image">
					<%=image_tag v.product_image,:style=>"height:300px; width:250px"%><br>
				</div>
				<div id="product-detail" class="product-details">
					<%product=Product.find_by id: v.product_id%>
					<%=label :brand_name, "#{v.brand_name}'s #{product.category}"%><br>
					<%=label :color ,"#{v.color}" %><br>
					<%=label :price ,"#{v.price}/-" %><br>
					<%=label :gender, "#{v.gender}"%>
					<br><br>
					<%= form_tag buy_product_url, :method=>"patch" do %>
						<div class="input-group" id="increment">
						  <input type="button" value="-" class="button-minus" name="quantity" data-field="quantity" id="minus-button" onclick="decrement()">
						  <%=text_field_tag :counter,params[:category],{value: 1,max: "#{@current_var.quantity}",id: 'counter-field',name: 'quantity',autocomplete: :off,readonly: true, type: 'text',:style=>"width:50px;height:38px"} %>
						  
						  <input onclick="increment()" type="button" value="+" class="button-plus" name="quantity" data-field="quantity" id="plus-button">	
						</div>
						<%=button_tag 'Buy',class: 'btn btn-secondary'%>
					<%end%>


					<%= content_tag :div, '', id: 'mycontainer', data: { source: @current_var.quantity } %>
					
				</div>				
			<%end%>
		<%end%>	
	</div>
	<div id="strip">
		<p>Recommended:</p>
	</div>
	<div class="container" id="mrow">
		<%var_arr=[]%>
		<% Variant.all.each do |var|%>
		    <%product=Product.find_by id: var.product_id%>
			<%if @product.category==product.category%>
			  <%var_arr << var%>
			<% end %>
		<%end%>
          <% var_arr.each_slice(4) do |variants|%>
            <div class="row">
              <% variants.each do |v|%>
                <%if v.quantity > 0 %>
                  <div class="col-md-3" id="display" style="margin-top: 10px;margin-bottom: 5px">                     
                      <div> 
                          <%product=Product.find_by id: v.product_id %>                 
                          <%=link_to(image_tag(v.product_image,:style=>"height:250px; width:180px"),user_path(product))%><br>
                          <%= label :brand_name,"#{v.brand_name}`s #{product.category}" %><br>
                          <%= label :price, "Rs #{v.price}/-"%><br>
                      </div>                  
                  </div>
                <%end%>                
              <%end%>
            </div>           
          <%end%>
    </div>
</body>
<script type="text/javascript">
	function increment(){
		var max=<%= @current_var.quantity%>;
		var current_value=parseInt(document.getElementById("counter-field").value,10);
		if (current_value<max) {
		document.getElementById("counter-field").value = current_value+1;
		}
	}
	function decrement(){
		var current_value=parseInt(document.getElementById("counter-field").value,10);
		if (current_value>1) {
		document.getElementById("counter-field").value = current_value-1;
		}
	}
</script>
</html>