<!DOCTYPE html>
<html>
<head>
	<title>Customer Orders</title>
</head>
<body>
	<div style="margin-top: 180px">
		<%= render 'top_nav'%>  
		<div style="width: 70%;margin:auto">
			<p><h3>All of your orders:</h3></p>
			<table  class="table table-condensed" style="margin: 50px;margin-right: 50px">
			    <tr>
			      <th>Product Name</th>
			      <th>Color</th>
			      <th>Gender</th>
			      <th>Quantity</th>
			      <th>Payment</th>
			      <th>Order Date</th>
			    </tr>
			    <tbody id="book_table">
			    <% @your_orders.each do |order| %>
			        <tr class="table-active">
			          <td><%= order.name %></td>
			          <td><%= order.color%>
			          </td>
			          <td><%=order.gender%></td>

			          <td><%= order.quantity %></td>
			          <td><%= order.payment.to_i*order.quantity.to_i %></td>
			          <td><%=order.created_at%></td>
			        </tr>
			    <% end %>
			    </tbody>

	        </table>
		</div>
	</div>

</body>
</html>