           <div class="container">  
             <%= form_for(@p,remote: :true, method: :post) do |form| %>
                  <% if @p.errors.any? %>
                    <div id="error_explanation">
                      <h2>
                        <%= pluralize(@p.errors.count, "error") %> prohibited
                        this book from being saved:
                      </h2>
                      <ul>
                        <% @p.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>

                <div class="form-group">
                  <%= form.label :category, label: "Select Category" %><br>
                  <%=form.select :category, options_for_select(["select category","Shirt","Trousers","Shoes"]),{selected: params[:category]},{class: "form-control",id:"category-select"}%>
                </div>

                <%= form.fields_for :variants, Variant.new do |f| %>
                    <div class="form-group">
                      <%= label :brand_name, 'Brand' %>
                      <%= f.text_field :brand_name,  {class: 'form-control',id: 'brand-field'}%>
                    </div>
                    <div class="form-group">
                      <%= label :price, 'Price' %>
                      <%= f.number_field :price,  {class: 'form-control',id:'price-field'}%>
                    </div>
                    <div class="form-group">
                      <%= label :quantity, 'Quantity' %>
                      <%= f.number_field :quantity, {:class=> 'form-control',:id=>'quantity-field'}%>
                    </div>
                    <%= label :gender, 'Gender' %><br>
                    <div class="form-check form-check-inline">
                      <div class="radio-first">
                        <%= f.radio_button :gender, 'male', :checked => true ,class: 'radio-button'%> 
                        <%= label :gender, 'Male' %>
                      </div>
                      <div class="radios">
                        <%= f.radio_button :gender, 'female',class: 'radio-button' %>
                        <%= label :gender, 'Female' %>
                      </div>
                    </div>
                    <div class="form-group">
                      <%= label :color, 'Color' %>
                      <%= f.text_field :color, {class: 'form-control',id: 'color-field'}%>
                    </div>
                    <%= label :size, 'Size' %><br>
                     <%=f.select :size, options_for_select(8..60),{},{class: "form-control",id:"size-select"}%>
                     
                    <div class="form-group">
                      <%= f.label :product_image %>
                      <%= f.file_field :product_image,  {class: 'form-control',id: 'image-field'} %>
                    </div>
                    
                <%end%>
                 <div class="modal-footer">
                  <%= form.submit "Add Products",class: "btn btn-primary"%>
                  <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              <%end%>
            </div>  
                
