<!DOCTYPE html>
<html>
  <head>
    <title>shirts</title>
  </head>
  <body>
    <div>
      <%= render 'top_nav'%>
      
    </div>
    <div class="products" style="margin-top: 160px">
        <div class="container">
          <% @shirt_variants.each_slice(4) do |shirts|%>
            <div class="row">
              <% shirts.each do |v|%>
                <%if v.quantity > 0 %>
                  <div class="col-md-3" id="product">
                    <div class="product-img" style="height: 250px;margin-top: 10px">
                        <%=image_tag v.product_image%>
                    </div><br>
                    <div>
                        <%product=Product.find_by id: v.product_id %>
                        <%= label :brand_name,"#{v.brand_name}`s #{product.category}" %><br>
                        <%= label :color,v.color %><br>
                        <%= label :price, "#{v.price}/-"%><br>
                        <%= label :gender, v.gender %><br>
                        <%= label :quantity, v.quantity %><br>
                        <%= link_to 'Remove Product', product_path(product),class: 'btn btn-secondary',
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %>
                    </div>
                  </div>
                <%end%>
                
              <%end%>
            </div>
            
          <%end%>
        </div>
      </div>
    </div>
  </body>
</html>